@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h4 {
  font-style: bold;
  color: #020303;
}

.flash {
  color: #020303;
}

.far fa-heart {
  color: #000;
}

/*----------PARTIE MOBILES IPHONES -----------*/
@media only screen and (max-width: 667px) and (min-width: 375px) and (orientation: landscape) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header .logo {
    font-size: 10px;
    text-align: center;
    font-family: "Shrikhand";
  }
  .titre1 {
    font-size: x-large;
  }
  .barre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    background-color: #f6f6f6;
    -webkit-box-shadow: 0px 3px 3px #73737338 inset;
            box-shadow: 0px 3px 3px #73737338 inset;
  }
  .barre p {
    padding-left: 15px;
  }
  .barre p i.fas.fa map-marker alt {
    text-align: center;
  }
  .titre1 {
    text-align: center;
  }
  .titre2 {
    text-align: center;
  }
  .bloc_filtres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bouton1 {
    text-align: center;
  }
  .bouton_recherche {
    border-radius: 52px;
    background-image: ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%;
  }
  #Btn1 {
    color: #fff;
  }
  .block_number {
    color: #fff;
    background-color: #9356dc;
    border: 1px solid #9356dc;
    border-radius: 50%;
    padding: 4px 8px 4px 8px;
    margin: 0 1.5rem 0 -12px;
  }
  .boutonsfiltres {
    background-color: #e5e5e5;
    display: inline-block;
  }
  .Menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: auto;
    padding: auto;
    background-color: #f2f2f2;
    border-radius: 20px;
    position: relative;
  }
  .resto {
    height: auto;
  }
  .Menu_restaurant {
    width: 280px;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .img_menu {
    width: 280px;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .img_menu .restaurant__carte--carré {
    border-radius: 3px;
    background-color: #99e2d0;
    color: #217460;
    padding: 5px;
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 1;
    -webkit-transform: translate(-10%, -160%);
            transform: translate(-10%, -160%);
    opacity: 1;
  }
  .img_restaurant {
    width: 280px;
  }
  .text_menu {
    width: 280px;
    position: absolute;
  }
  .text_menu h4 {
    margin: 0;
  }
  .Menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .titre_restaurant {
    text-align: center;
    font-family: "Shrikhand";
  }
  article {
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 16px #0000002e;
            box-shadow: 0 0 16px #0000002e;
    border-radius: 10px;
  }
  footer {
    background-color: #353535;
    font-family: "Roboto", sans-serif;
  }
  footer a {
    color: #fff;
  }
  footer a i.fas.fa-utensils {
    color: #fff;
  }
  footer a i.fas.fa-utensils i.fas.fa-hands-helping {
    color: #fff;
  }
}
/*# sourceMappingURL=styles.css.map */