@charset "UTF-8";
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h4 {
  font-style: bold;
  color: #020303;
}

.flash {
  color: #020303;
}

.far fa-heart {
  color: #000;
}

/*----------PARTIE MOBILES IPHONES -----------*/
@media only screen and (max-width:375px) and (min-width:667px) {
  #header {
   
  }
  #header .logo-container {
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  }
  #header .logo-container, #header .location {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #header .location {
    background: #eee;
  }
  #header .location i {
    margin-right: 0.5rem;
  }
  #header .sub-header {
    background: #f6f6f6;
    text-align: center;
  }
  #header .sub-header h1 {
    margin: 0;
    padding: 1rem 0;
  }
  #header .sub-header button {
    padding: 10px 15px;
    background: #fb3fa8;
    background: linear-gradient(160deg, #fb3fa8 0%, #9e17bb 51%);
    color: #fff;
    border-radius: 50px;
    margin-bottom: 40px;
  }
  #header .block_number {
    color: #fff;
    background-color: #9356dc;
    border: 1px solid #9356dc;
    border-radius: 50%;
    padding: 4px 8px 4px 8px;
    margin: 0 1.5rem 0 -12px;
  }
  #header .boutonsfiltres {
    background-color: #ffffff;
    display: inline-block;
  }
  #header .function {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #header .choice {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    box-shadow: 3px 3px 10px #dedada;
    border-radius: 1rem;
    padding: 15px;
    align-items: center;
    max-width: 500px;
  }
  #header .choice .function__step--number {
    border-radius: 50%;
    background-color: #9356dc;
    border: 1px solid #9356dc;
    padding: 4px 8px 4px 8px;
    margin: 0 1.5rem 0 -25px;
    color: #fff;
  }
  #header .choice .function__step--number .function__step--title {
    margin-right: 2rem;
    padding-left: 30px;
    font-size: 15px;
  }
  #header .choice .function__step--number .function__step--title i.fas.fa-store {
    color: #9356dc;
  }

  .Menus {
    display: flex;
    justify-content: space-around;
    width: auto;
    padding: auto;
    background-color: #f2f2f2;
    border-radius: 20px;
    position: relative;
  }

  .resto {
    height: auto;
  }

  .Menu_restaurant {
    width: 280px;
    border-radius: 15px;
    display: flex;
    position: relative;
  }

  .img_menu {
    width: 280px;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .img_menu .restaurant__carte--carré {
    border-radius: 3px;
    background-color: #99e2d0;
    color: #217460;
    padding: 5px;
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 1;
    transform: translate(-10%, -160%);
    opacity: 1;
  }

  .img_restaurant {
    width: 280px;
  }

  .text_menu {
    width: 280px;
    position: absolute;
  }
  .text_menu h4 {
    margin: 0;
  }

  .Menus {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .titre_restaurant {
    text-align: center;
    font-family: "Shrikhand";
  }

  article {
    margin-bottom: 10px;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 12px;
  }

  footer {
    background-color: #353535;
    font-family: "Roboto", sans-serif;
  }
  footer a {
    color: #fff;
  }
  footer a i.fas.fa-utensils {
    color: #fff;
  }
  footer a i.fas.fa-utensils i.fas.fa-hands-helping {
    color: #fff;
  }
}
/*# sourceMappingURL=styles.css.map *//*# sourceMappingURL=styles.css.map */